.about {
  width: 100%;
  padding: 45px 0px;
}

.about img {
  height: auto;
  width: 400px;
  padding-bottom: 30px;
}

.about-teks {
  width: 550px;
  margin-top: -60px;
  margin-left: 50px;
  padding-top: 50px;
}

.main-about {
  width: 900px;
  max-width: 95%;
  margin-left: 150px;
  display: flex;
}
